input[type="button"].custom-btn,
input[type="submit"].custom-btn {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--color3);
    color: var(--color4);
    border: none;
    transition: box-shadow .25s;
    cursor: pointer;
}