/*
    Section that appears the movies result by searched term before
    ! This sections is for result container, when the user makes a search
 */

div[data-container="movies-added"] h1 {
    color: #FFFFFF;
    text-align: center;
}
/* 
#ul-movies-library {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

#ul-movies-library li {
    margin: 5px;
}

.movie-informations {
    position: relative;
    transition: transform .2s;
}

.movie-poster {
    width: 200px;
    height: 330px;
    margin-bottom: 25px;
    transition: transform .2s;
}

i {
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 32px;
    color: rgb(255, 94, 94);
    right: -5%;
    top: -5%;
}

.movie-informations:hover i {
    opacity: 1;
}

.movie-informations:hover  {
    transform: translateY(-20px);
    cursor: pointer;
}

.user-information {
    color: white;
    text-align: center;
    margin-top: 50px;
} */