body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[data-js="form-search-container"] {
    display: flex;
    justify-content: center;
    margin: 150px auto;
    min-width: 100vw;
}

[data-js="form-search-container"] [data-js="movie-to-search"] {
    width: 100%;
    max-width: 500px;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--color1);
    border: none;
    outline: none;
    color: white;
    font-size: x-large;
    text-align: center;
}

section > ul[data-js="pagination"] {
    display: flex;
    place-items: center;
    font-size: 1.2rem;
    user-select: none;
    -webkit-user-select: none;
    list-style-type: none;
}

ul[data-js="pagination"] span.page-control,
ul[data-js="pagination"] .page-active {
    border-radius: 3px;
    cursor: pointer;
}

ul[data-js="pagination"] span.page-control {
    background-color: var(--color2);
    color: var(--color4);
}

ul[data-js="pagination"] .page-active {
    color: var(--color2);
    background-color: var(--color4);
    text-align: center;
    margin: 0 10px;
    padding: 0 10px;
    width: 100%;
}

ul[data-js="pagination"] li.page {
    color: var(--color4);
    margin: 0 10px;
}
/*
 Section that appears the movies result by searched term before
 ! This sections is for result container, when the user makes a search
 */

#section-search-result-container {
    color: white;
    display: flex;
    padding: 25px;
    font-size: 23px;
}

#ul-movies-search-result {
    list-style-type: none;
}

#ul-movies-search-result li {
    display: flex;
}

/*
 Section that appears the movies result by searched term before
 ! This sections is for result container, when the user makes a search
 */

/* 
    Add to library button style
    ! Style for button 'Add to library', when the user clicks on this one
*/

.add-to-library {
    width: 250px;
    height: 25px;
    background-color: var(--color2);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 25px 0px;
    border: none;
    transition: background-color 1s, width 1s, box-shadow .5s;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.add-to-library:hover {
    box-shadow: 1px 1px 10px red;
}

.add-to-library .text-add-to-library {
    transition: opacity 400ms;
    opacity: 1;
}

.add-to-library:focus .text-add-to-library {
    opacity: 0;
}  

.added-into-library {
    opacity: 0;
    transition: opacity .6s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    cursor: pointer;
}

.add-to-library:focus {
    background-color: #1f9401;
    box-shadow: 1px 1px 5px #1f9401;
}

.add-to-library:focus .added-into-library {
    transition-delay: .5s;
    opacity: 1;
}

/* Add to library button style */

/*
    Movie details style
    ! This section contains the details like movie Title, movie Description,
    ! movie Release Date, and others details like this
*/

.movie-poster {
    width: 100%;
    max-width: 250px;
    height: 330px;
    margin-bottom: 25px;
    margin-right: 25px;

}

.movie-name {
    font-size: 28px;
}

.movie-details-container {
    margin-bottom: 25px;
}

.movie-details-container .release-date {
    color: #b4b4b4;
    font-weight: 100;
    font-size: large;
}

.movie-description {
    width: 100%;
    max-width: 1000px;
    text-align: justify;
    margin-right: 10px;;

}
