body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


[data-js="form-search-container"] {
    display: flex;
    justify-content: center;
    margin: 150px auto calc(150px - (25px * 4));
    min-width: 100vw;
}

[data-js="form-search-container"] [data-js="movie-to-search"] {
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--color1);
    border: none;
    outline: none;
    color: white;
    font-size: x-large;
    text-align: center;
}

section:has(ul[data-js="movie-search-result"]) {
    min-width: 90vw;
}

ul[data-js="movie-search-result"] {
    flex-grow: 1;
    flex-basis: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 15px;
    justify-content: center;
}

ul[data-js="movie-search-result"] li[data-movie|="wrapper"] {
    max-height: 250px;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    transition: transform 200ms;
}

ul[data-js="movie-search-result"] li[data-movie|="wrapper"] img {
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    object-position: top;
}

ul[data-js="movie-search-result"] li[data-movie|="wrapper"]:hover {
    transform: scale(1.1);
    border: 1.5px solid var(--color1);
}

section:has([data-js="pagination"]) {
    display: flex;
    position: sticky;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

section > ul[data-js="pagination"] {
    background-color: var(--color0);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    place-items: center;
    font-size: 1.3rem;
    user-select: none;
    -webkit-user-select: none;
    list-style-type: none;
    margin: 25px 0;
    opacity: .5;
    transition: opacity 200ms;
}

section > ul[data-js="pagination"]:hover {
    opacity: 1;
    border: 1px solid var(--color1);
}

ul[data-js="pagination"] span.page-control,
ul[data-js="pagination"] .page-active {
    border-radius: 3px;
    cursor: pointer;
}

ul[data-js="pagination"] span.page-control {
    background-color: var(--color2);
    color: var(--color4);
    padding: 5px;
    transition: opacity 200ms;
}

ul[data-js="pagination"] span.page-control:hover {
    opacity: .8;
}

ul[data-js="pagination"] .page-active {
    color: var(--color2);
    background-color: var(--color4);
    text-align: center;
    margin: 0 10px;
    padding: 0 10px;
    width: 100%;
}

ul[data-js="pagination"] li.page {
    color: var(--color4);
    margin: 0 10px;
}

@media screen and (max-width: 700px) {

    ul[data-js="movie-search-result"] {
        grid-column: 1;
        grid-template-columns: repeat(2, 1fr);
    }

    ul[data-js="movie-search-result"] li[data-movie|="wrapper"] img {
        object-fit: contain;
    }
}
/* .add-to-library {
    width: 250px;
    height: 25px;
    background-color: var(--color2);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 25px 0px;
    border: none;
    transition: background-color 1s, width 1s, box-shadow .5s;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.add-to-library:hover {
    box-shadow: 1px 1px 10px red;
}

.add-to-library .text-add-to-library {
    transition: opacity 400ms;
    opacity: 1;
}

.add-to-library:focus .text-add-to-library {
    opacity: 0;
}  

.added-into-library {
    opacity: 0;
    transition: opacity .6s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    cursor: pointer;
}

.add-to-library:focus {
    background-color: #1f9401;
    box-shadow: 1px 1px 5px #1f9401;
}

.add-to-library:focus .added-into-library {
    transition-delay: .5s;
    opacity: 1;
}

/* Add to library button style */

/*
    Movie details style
    ! This section contains the details like movie Title, movie Description,
    ! movie Release Date, and others details like this
*/
/* 
.movie-poster {
    width: 100%;
    max-width: 250px;
    height: 330px;
    margin-bottom: 25px;
    margin-right: 25px;

}

.movie-name {
    font-size: 28px;
}

.movie-details-container {
    margin-bottom: 25px;
}

.movie-details-container .release-date {
    color: #b4b4b4;
    font-weight: 100;
    font-size: large;
}

.movie-description {
    width: 100%;
    max-width: 1000px;
    text-align: justify;
    margin-right: 10px;;

} */