a[data-component-name="navbar-option"] {
    color: var(--color4);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
}

a[data-component-name="navbar-option"]:hover {
    filter: brightness(90%);
    position: relative;
}

a[data-component-name="navbar-option"]:hover::after {
    content: "";
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--color4);
    filter: blur(50px);
    z-index: -1;
}

a[data-component-name="navbar-option"] img {
    max-width: 50px;
    object-fit: cover;
}

a[data-component-name="navbar-option"] img[src*="icons"] {
    max-width: 25px;
    margin: 10px;

    color: white;
}

@media all and (width <= 600px) {
    
    a[data-component-name="navbar-option"] {
        font-size: .9rem;
        padding: 5px;
    }

    a[data-component-name="navbar-option"] img[src*="icons"] {
        max-width: 15px;
        color: white;
    }
}