nav[data-component-name="custom-navbar"] {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color0);
    z-index: 1;
    overflow: hidden;
}

nav[data-component-name="custom-navbar"] img.profile-photo {
    width: 50px;
    object-fit: cover;
}

@media all and (width <= 600px) {

    nav[data-component-name="custom-navbar"] {
        max-height: 200px;
        display: flex;
        flex-direction: column;
    }
}